name: Infrastructure-create

on: 
  push: 
    branches: 
      - main
jobs: 
  infras-create: 
    runs-on: ubuntu-latest
    

    steps: 
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: terraform setup
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.5

      - name: aws configure
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: terraform formate Check
        run: terraform fmt -check

      - name: Run Terrascan
        uses: accurics/terrascan-action@v1
        with:
          iac_type: terraform
          iac_version: v14
          policy_type: aws
          iac_dir: .

      
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Run TFLint
        run: tflint --recursive
      
      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan

      - name: Display EKS Cluster Details
        run: |
          echo "Cluster Name: $(terraform output -raw cluster_name)"
          echo "Cluster Region: $(terraform output -raw cluster_region)"