name: Destroy EKS Cluster

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type DESTROY to confirm"
        required: true

jobs:
  destroy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
    - name: Safety Check
      if: github.event.inputs.confirm != 'DESTROY'
      run: |
        echo "Confirmation failed. Exiting."
        exit 1

    - name: Checkout Code  # Checkout the repository code
      uses: actions/checkout@v4

    - name: Configure AWS  # Configure AWS credentials for Terraform to use
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1

    - name: Setup Terraform # Set up Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init # Initialize Terraform
      run: terraform init 
    
    - name: Terraform Destroy # Destroy Terraform-managed infrastructure
      run: terraform destroy -auto-approve   
